@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');




* {
    margin: 0;
    padding: 0;
}


.parent {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(144, 194, 238); */
    border: 2px solid black;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.box1 {
    width: 70%;
    height: 20vh;
    background-color: rgb(108, 108, 221);
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box2 {
    width: 70%;
    height: 20vh;
    background-color: rgb(168, 168, 179);
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
    left: 40px;
}


.box3 {
    width: 70%;
    height: 20vh;
    background-color: rgb(83, 83, 107);
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
    right: 40px;
}

.box4 {
    width: 70%;
    height: 20vh;
    background-color: rgb(112, 112, 173);
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
    left: 40px;
}

.box1 h1 {
    color: aliceblue;
    font-size: 60px;
    text-align: center;
    font-family: "Dancing Script", cursive;
}

.box1 p {
    color: black;
    font-size: 60px;
    text-align: center;
    font-family: "Dancing Script", cursive;
}