@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Oleo+Script:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');




* {
    margin: 0%;
    padding: 0%;
}



.parent {
    width: 100%;
    height: 100vh;
    display: flex;
}

.box1 {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.round22 h1 {
    margin-top: 20px;
    padding-left: 40px;
    font-family: "Lobster", sans-serif;
}

.round a {
    text-decoration: none;
    padding-left: 40px;
    margin-top: 20%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.round23 {
    display: flex;
    align-items: end;
    padding-left: 40px;
    padding-top: 400px;
    border-radius: 40px;
}

.round23 h3 a {
    text-decoration: none;
    margin-top: 20%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.round23 :hover {
    background-color: rgb(231, 221, 221);
    cursor: pointer;
    border-radius: 10px;
}


.round :hover {
    background-color: rgb(231, 221, 221);
    cursor: pointer;
    border-radius: 10px;
}

.round23 {}

.box2 {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.circle {
    width: 95%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: aqua;
}

.square {
    height: 10vh;
    width: 85px;
    background: linear-gradient(45deg, rgb(228, 73, 181), rgb(214, 170, 88), rgb(94, 31, 94));
    display: flex;
    align-items: center;
    /* padding-top: 20px; */
    justify-content: center;
    border-radius: 50%;
}

.stories {
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white ;
}

.stories img {
    width: 90%;
    height: 90%;
   background: linear-gradient(45deg, rgb(228, 73, 181), rgb(214, 170, 88), rgb(94, 31, 94));
    border-radius: 50%;
}


.circle2 {
    width: 95%;
    height: 90vh;
    background-color: rgb(127, 85, 172);

}


.box3 {
    width: 20%;
    height: 100vh;
    background-color: rgb(80, 52, 15);
}